<div class="control-panel">
  <div class="panel-info">
    <h2 class="panel-title">Trilha</h2>
    <h3 class="player">Player 1</h3>
    <input type="color" value="#ffff00">
    <h3 class="player">Player 2</h3>
    <input type="color" value="#00ff00">
  </div>
  <audio #audioOption>
    <source src='../../assets/audio/game-sound.wav' type="audio/wav">
  </audio>

  <div class="button-wrapper">
    <button type="button" class="btn btn-outline custom-primary mx-2">
      Start Game
    </button>
    <button class="btn btn-secondary mx-2" type="button">
      Restart Game
    </button>
    <button class="sound" (click)="toggleSound()" type="button">
      <i class="bi-volume-up-fill" style="font-size: 2rem; color: white;"></i>
    </button>
  </div>
</div>
