.formulario {
  position: relative;
  max-width: 1000px;
  width: 40vw;
  min-width: 300px;
  min-height: 480px;
  height: 50vh;
  padding: 64px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  * {
  color: black;
  }
  margin-top: 60px;
}
