<div class="center formulario">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="mb-3 text-center">TRILHA</h1>
      <form class="needs-validation mt-4" novalidate="true">
        <div class="row">
          <div class="col-sm-6">
            <label for="playerOne" class="form-label">PLAYER 1</label>
            <input type="text" ngModel name="playerOne" [(ngModel)]="playerOne" [ngModelOptions]="{standalone: true}" class="form-control" id="playerOne" placeholder="Digite o nome do Player 1">
            <label for="colorOne" class="form-label my-4 mr-4">Escolha a cor</label>
            <input ngModel name="colorPlayerOne" [(ngModel)]="colorPlayerOne" [ngModelOptions]="{standalone: true}" placeholder="Digite o nome do Player 1" type="color" id="colorOne">
          </div>

          <div class="col-sm-6">
            <label for="playerTwo" class="form-label">PLAYER 2</label>
            <input type="text" ngModel name="playerTwo" [(ngModel)]="playerTwo" class="form-control" id="playerTwo" placeholder="Digite o nome do Player 2">
            <label for="colortwo" class="form-label my-4 mr-4">Escolha a cor</label>
            <input  ngModel name="colorPlayerTwo" [(ngModel)]="colorPlayerTwo" type="color" id="colorTwo">
          </div>

        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg white"(click)="play()">JOGAR</button>
      </form>
    </div>
  </div>
</div>
