.center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


.trilha-game {
    display: flex;
    justify-content: center;
    padding: 68px;
}

// .control-panel-container { grid-area: 1 / 1 / 2 / 6; }
// .canvas-container { grid-area: 2 / 1 / 5 / 6; }
